{% load static %}
{% block content %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{% static 'memorysafeapp/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a  href="{% url '#' %}"><i class="fa fa-5x fa-buysellads"></i> </a>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
 <!-- {% if user.is_authenticated %}
  <a  href="{% url 'realtor-home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a  href="{% url 'realtor-listings' %}"><i class="fa fa-fw fa-picture-o"></i> Listings</a>
  <a  href="{% url 'realtor-events' %}"><i class="fa fa-fw fa-globe"></i> Events</a>
  <a  href="{% url 'realtor-search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
  <a  href="{% url 'realtor-about' %}"><i class="fa fa-fw fa-info"></i> About</a>
  <a  href="{% url 'realtor-createListing' %}"><i class="fa fa-fw fa-plus"></i> Upload Listings </a>
  <a  href="{% url 'profile' %}"><i class="fa fa-fw fa-user-circle"></i> Profile</a>
  <a  href="{% url 'logout' %}"><i class="fa fa-fw fa-unlock"></i> Logout</a>
  {% else %} -->
   <a  href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a  href="{% url 'home' %}"><i class="fa fa-fw fa-picture-o"></i> Listings</a>
  <a  href="{% url 'home' %}"><i class="fa fa-fw fa-globe"></i> Events</a>
  <a  href="{% url 'home' %}"><i class="fa fa-fw fa-search"></i> Search</a>
  <a  href="{% url 'home' %}"><i class="fa fa-fw fa-info"></i> About</a>
  <a  href="{% url 'home' %}"><i class="fa fa-fw fa-user"></i> Login</a>
  <!--{% endif %}-->
  </div>
    </div>

    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  {% endblock %}